{*Smarty template*}

  <ul id="tabnav">
    <li class="{$doctypesTab}"><a href="doctypes.php" >{tr}Docs types{/tr}</a></li>
    <li class="{$workflowTab}"><a href="galaxia_admin_processes.php" >{tr}Workflow{/tr}</a></li>
    <li class="{$usersTab}"><a href="tiki-adminusers.php" >{tr}Users{/tr}</a></li>
    <li class="{$parametersTab}"><a href="tools.php" >{tr}Tools{/tr}</a></li>
  </ul>
