{*Smarty template*}

<br>

<h1 class="pagetitle">{tr}Check UUID result for{/tr} {$UUID.CATIA.FileName}</h1>

<hr>
<b>{$UUID.type}</b> UUID = {$UUID.UUID}<br>
<b>{$UUID.type}</b> File Name ={$UUID.CATIA.FileName}<br />
<b>{$UUID.type}</b> Internal Name = {$UUID.CATIA.InternalName}<br />
