{include file="header.tpl"}

<div id="tiki-mid">
  <div class="cbox">
    <div class="cbox-title">
    {tr}Comment{/tr}
    </div>
    <div class="cbox-data">
    {$msg}<br /><br />
    <!--<a href="javascript:window.close()" class="linkmenu">{tr}Close Window{/tr}</a><br /><br />-->
    </div>
  </div>
</div>
