{*Smarty template*}

<div id="page-bar">
   <span class="button2"><a class="linkbut" href="javascript:popup('{$CONTAINER_TYPE}Manage.php?action=create&space={$CONTAINER_TYPE}','{$CONTAINER_TYPE}Manage')">{tr}Create{/tr}</a></span>
   <span class="button2"><a class="linkbut" href="javascript:popup('ContainerAliasManage.php?action=createAlias&space={$CONTAINER_TYPE}','{$CONTAINER_TYPE}Manage')">{tr}Create alias{/tr}</a></span>
   <span class="button2"><a class="linkbut" href="javascript:popupP('ContainerHistory.php?space={$CONTAINER_TYPE}',1024,800,'{$randWindowName}')">{tr}History{/tr}</a></span>
   <span class="button2"><a class="linkbut" href="javascript:popupP('ImportHistory.php?action=getImportHistory&space={$CONTAINER_TYPE}',800,800,'{$randWindowName}')">{tr}History import{/tr}</a></span>
   <span class="button2"><a class="linkbut" href="Search.php?space={$CONTAINER_TYPE}">{tr}Search{/tr}</a></span>
   <span class="button2"><a class="linkbut" href="javascript:popupP('Category.php?space={$CONTAINER_TYPE}',900,450,'{$CONTAINER_TYPE}Category')">{tr}Categories{/tr}</a></span>
   <span class="button2"><a class="linkbut" href="{$CONTAINER_TYPE}s.php?action=getStats&ticket={$ticket}">{tr}Statistics{/tr}</a></span>
   <span class="button2"><a class="linkbut" href="ImportManager.php?space={$CONTAINER_TYPE}">{tr}Import{/tr}</a></span>
</div>
