{*Smarty template*}

<ul id="tabnav">
  <li class="{$Groups}"><a href="projectExplore.php?project_id={$project_id}&action=listGroups" >{tr}Permissions{/tr}</a></li>
  <li class="{$Links}"><a href="projectExplore.php?project_id={$project_id}&action=listLinks" >{tr}Links{/tr}</a></li>
</ul>

<div id="tiki-mid">
  {include file=$subMid}
</div>
