{popup_init src="lib/overlib.js"}

{*Smarty template*}

<h1>{tr}Activity completed{/tr}</h1>
{$msg}<br />

    <form name="close">
      <input type="button" value="No comment" OnClick="javascript:window.location.href='{$start_page|urldecode}'">
    </form>

{include file=galaxia_user_bar.tpl}
<br /><br />

<form method="POST" action="galaxia_run_activity.php">

<table class="normal">
<tr>
	<td class="odd">{tr}Process{/tr}
	<td class="odd">{$procname} {$procversion}</td>
</tr>
<tr>
	<td class="odd">{tr}Activity{/tr}
	<td class="odd">{$actname}</td>
</tr>
<tr>
	<td></td>
</tr>

<tr class="normal">
	<tr>
		<td class="odd" colspan="2">{tr}Comment{/tr}</td>
	</tr>

		<td class="odd" colspan="2">{tr}Subject{/tr}:<input type="text" name="__title" value="{if $post eq 'y'}{$title}{/if}" {if $post eq 'y'}readonly{/if}/></td>
	<tr>
		<td class="odd" colspan="2"><textarea rows="5" cols="60" name="__comment" {if $post eq 'y'}readonly{/if}>{if $post eq 'y'}{$comment}{/if}</textarea></td>
	</tr>
	{if $post eq 'n'}
	<tr><td class="odd" colspan="2">
    <input type="submit" name="save" value="{tr}Save{/tr}" />
    <input type="hidden" name="iid" value="{$iid}" />
    <input type="hidden" name="__post" value="y" />
    <input type="hidden" name="activityId" value="{$actid}" />
    <input type="hidden" name="CnextUsers" value="{$CnextUsers}" />
    <input type="hidden" name="start_page" value="{$start_page}" />
    </form>

  </td></tr>
  {else}
	<tr><td class="odd" colspan="2">
    {*<form name="close"><input type="button" onclick="window.close()" value="Close"></form>*}
    <form name="close">
      <input type="button" value="End" OnClick="javascript:window.location.href='{$start_page|urldecode}'">
    </form>
  </td></tr>
  {/if}

</tr>
</table>
