{*Smarty template*}

  <div id="BoiteActions">
     <!--<p><span class="button2"><a class="linkbut" href="javascript:popup('tools.php?action=GetFilesRecordWithoutFile','GetFilesRecordWithoutFile')">{tr}Find all records wich have not real file{/tr}</a></span></p>-->
     <!--<p><span class="button2"><a class="linkbut" href="javascript:popup('tools.php?action=GetFilesWithoutDocuments','GetFilesWithoutDocuments')">{tr}Find all records wich have not associated document{/tr}</a></span><br /></p>-->
     <!--<p><span class="button2"><a class="linkbut" href="javascript:popup('tools.php?action=GetDocumentsWithoutFile','GetDocumentsWithoutFile')">{tr}Find all documents wich have not associated file{/tr}</a></span><br /></p>-->
     <!--<p><span class="button2"><a class="linkbut" href="javascript:popup('tools.php?action=GetDocumentsWithoutContainer','GetDocumentsWithoutContainer')">{tr}Find all documents wich have not associated container{/tr}</a></span></p>-->
     <!--<p><span class="button2"><a class="linkbut" href="javascript:popup('tools.php?action=ExportRights','ExportRights')">{tr}Export rights to file{/tr}</a></span></p>-->
     <p><span class="button2"><a class="linkbut" href="javascript:popup('tools.php?action=GenRightsTable','GenRightsTable')">{tr}Generate right table{/tr}</a></span></p>
     <p><span class="button2"><a class="linkbut" href="javascript:popup('tools.php?action=GenDoctypes','GenDoctypes')">{tr}Generate doctype table{/tr}</a></span></p>
     <p><span class="button2"><a class="linkbut" href="javascript:popup('tools.php?action=GetFilesInTrash','GetDocumentsWithoutContainer')">{tr}Get files in trash{/tr}</a></span></p>
     <!--<p><span class="button2"><a class="linkbut" href="javascript:popup('tools.php?action=EmptyTrash','GetDocumentsWithoutContainer')">{tr}Empty trash{/tr}</a></span></p>-->
  </div>
