

  <ul id="tabnav">
  <li class="{$projetUsers}"><a href="tiki-admingroups.php" >{tr}Users{/tr}</a></li>
  </ul>

<div id="BoiteActions">
  <p class = entete >Actions</p>
   <span class="button2"><a class="linkbut" href="javascript:popup('projectManage.php?action=create','projectCreate')">{tr}Create{/tr}</a></span>
   <span class="button2"><a class="linkbut" href="galaxia_admin_processes.php">{tr}Workflow{/tr}</a></span>
   <span class="button2"><a class="linkbut" href="javascript:popup('projectHistory.php','projetHistory')">{tr}History{/tr}</a></span>
</div>



