{*Smarty template*}

{include file="header.tpl"}

<h2>{tr}Select the file to associate to {/tr}{$document_number}</h2>

<form id="form" action="{$smarty.server.PHP_SELF}" method="post">
<input name="action" type="hidden" value="assocFile" />
<input name="document_id" type="hidden" value="{$document_id}" />
<input type="hidden" name="ticket" value="{$ticket}" />

{html_options name=file_name options=$SelectSet selected=NULL}

<br />

<input name="submit" value="assocFile" type="submit" />
<input name="reset" value="reset" type="reset" />
<input name="cancel" value="cancel" type="submit" />

</form>

<!--
<form {$form.attributes}>
{$form.hidden}
{$form.file_name.label}<br />
{$form.file_name.html}<br />

{if not $form.frozen}
{$form.reset.html}&nbsp;{$form.submit.html}
{/if}
-->






