{*Smarty template*}

<h1 class="pagetitle">{tr}Edit user{/tr}: {$userinfo.handle}</h1>

<br />

<form action="tiki-adminusers.php" method="post" enctype="multipart/form-data">
<table class="normal">

</td></tr>
<tr class="formcolor"><td>{tr}Pass{/tr}:</td><td><input type="password" name="pass" id="pass" /></td></tr>
<tr class="formcolor"><td>{tr}Again{/tr}:</td><td><input type="password" name="pass2" id="pass2" /></td></tr>
<tr class="formcolor"><td>{tr}Email{/tr}:</td><td><input type="text" name="email" size="30"  value="{$userinfo.email|escape}" /></td></tr>

<tr class="formcolor"><td>&nbsp;</td><td>
<input type="hidden" name="edituser" value="{$edituser}" />

<input type="submit" name="submit" value="{tr}Save{/tr}" />

</td></tr>
</table>
</form>
<br />


<form name="close">
  <input type="button" onclick="window.close()" value="Close">
</form>
