/* 
Variation of Tikineat theme for TikiWiki CMS/Groupware, based on *litecss.
*/
@import "lite/lite.css"; /* here we import *lite as the base */

/***** XHTML Elements ******/

body {
	background: #E9ECEF url("tikinewt/bg_vertline.png") 180px 0px repeat-y;
	font-family: Verdana, Helvetica, Geneva, Arial, sans-serif;
	margin: 0;
	padding: 0;
	font-size: 60% !important;
	color: #000;
}

*:first-child+html
body {
	font-size: 70% !important;
}

#main {
	background: transparent url("tikinewt/bg_vertline.png") right top repeat-y;
}

a,
a:visited {
	color: #225566;
	font-weight: bold;
  outline: none;
}

a:hover {
	color: #224466;
}

caption {
	font-weight: bold;
}

div {

}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	margin-bottom: 3px;
}
h1 {
	font-size: 220%;
	color: #436976;
}
h2 {
	font-size: 180%;
	color: #234956;
}
h3 {
	font-size: 140%;
	color: #032936;
}
h4 {
	font-size: 120%;
	color: #032936;
}
h5 {
	font-size: 110%;
	color: #032936;
}
h6 {
	font-size: 100%;
	color: #032936;
}

hr {
	height: 1px;
	background: #8CACBB;
	border-width: 0;
	padding: 0;
	color: #8CACBB;
}

img {
	border: 0;
}

small {
	font-size: .8em;
}

td.even small {
	font-size: 1em;
}

p {
	padding: 1px 2px 3px;
}

form {
	margin: 0;
	padding: 0;
}

button,
input,
textarea,
select {
	color: #112233;
	margin: 1px;
}

button,
input,
select {
	vertical-align: middle;
}

/* IE */
* html .wikitopline select {
	font-size: .9em;
}

button,
input {
	margin-right: 1px;
	padding: 1px;
}

input[type=checkbox],
input[type=radio] {
	border: 0;
}

button,
input[type=submit],
.button input {
	border: 1px solid #46596f;
	background: #C7D0D9;
	font-weight: bold;
}

button:hover,
input[type=submit]:hover,
.button input:hover {
	background: #FFFFFF;
	cursor: pointer;
}

* html .findtable input {
	font-size: 1em;
}

fieldset {
	border: solid 1px #C7D0D9;
	padding: 10px;
}

textarea {

}

label {
	cursor: pointer;
}

/***** Basic Page Layout 
	Including Site Header *****/


ul.jumplinks {
	font-size : 0.8em;
	list-style-type : none;
}

ul.jumplinks, .jumplinks {
	position: absolute;
	top: -9000px;
	left: -9000px;
	z-index: 9;
}

ul.jumplinks a:focus, ul.jumplinks a:active {
	position: absolute;
	top: 9010px;
	left: 9010px;
	background-color: #339999; 
	color: #fff;
	padding: 5px;
	font-weight: bold;
	border: 2px solid #000;
	width: 6em;
	z-index: 9;
}

div#tiki-main {
	margin: 0;
	font-size: 1em;
}

#tiki-clean {
	text-align: left;
	padding: 1em;
}

#fullscreenbutton {
	position: absolute;
	top: 2px;
	right: 10px;
	font-size: 80%;
	color: #223344;
	text-decoration: none;
	line-height: 150%;
	white-space: nowrap;
	padding: 0 4px;
	background: #C7D0D9;
	border: 1px solid #999;
	cursor: pointer;
}

#fullscreenbutton:hover {
	background: #dca;
}

#header {
	background-color: #E9ECEF;
}

#header a,
#header a:visited {
	text-decoration: none;
}

#header-top {
	position: relative;
}

/** Look & Feel (Site Identity) **/
#siteheader {
	text-align: left;
	background: transparent;
	vertical-align: middle;
	margin: 0;
}

div#sioptions {
	margin: 1em;
}

#sioptionscentered {
	text-align: center;
	margin: 1em;
}

div.floatright {
	float: right;
	clear: none;
}

div.floatleft {
	float: left;
	clear: none;
}

div#sitelogo {
	width: 33%;
	margin: auto;
}

div#sitead {
	margin: auto;
}

#sitead.floatright {
	padding-right: 100px;
}

#sitead.floatleft {
	padding-left: 100px;
}

#sioptionscentered #sitead.floatleft {
	padding-left: 10px;
}

#sitelocbar {
	float: left;
}

#siteloginbar {position: absolute; bottom:3px; right: 10px;}


#tiki-top {
	font-size: .95em;
	background: #C7D0D9;
	padding-bottom: 1px;
	border-bottom: 1px solid #8CACBB;
	padding: 0 5px;
}

#tiki-top a {
	text-decoration: none;
}

#sitesearchbar {
	font-size: .95em;
	text-align: right;
	max-width: 300px;
	float: right; 
}

/** Middle **/

#middle {
	text-align: left;
	font-size: 1em;
}
#showhide_columns, .tellafriend {
	border-left: 1px solid #8CACBB;
}

#c1c2 {
	font-size: 1em;
	background-color: transparent;
}

#c1c2 #wrapper {
	background-color: transparent;
}

.fullscreen #col1 {
	margin-left: 30px !important;
	margin-right: 30px !important;
}

a.flip,
a.flip:visited {
	font-size: 80%;
	color: #A9B8C2;
	margin-left: 1em;
	margin-right: 1em;
}

a.flip:hover {
	text-decoration: none;
	color: #225566;
}

a.flip img {
	display: none;
}

#c1c2 #wrapper {
}

#c1c2 #wrapper #col1 {
	background-color: #E9ECEF;
}

#c1c2	#wrapper #col1	.content {
	background-color: white;
}

#c1c2 #wrapper #col1 #tiki-center {
	background: #F3F6F9;
	margin: 0;
	padding: 0 5px;
	border-left: 1px solid #8CACBB;
/*	font-size: .9em;*/
}

/* IE */
* html #tiki-center {
	font-size: 1em;
}

#c1c2 #wrapper .marginleft  {
	margin-left: 180px;/* change this in your stylesheet too when you change the width of #col2 */
}

#c1c2 #wrapper .marginright {
	margin-right: 180px;/* change this in your stylesheet too when you change the width of #col3 */
}

#c1c2 #col2 {
	background-color: transparent;
	width: 180px;
	text-align: left;
}

#col2 .content {
	padding-left: 0;
	padding-right: 3px;
	padding-top: 0;
}

#col3 {
	background-color: transparent;
	width: 179px;
	margin-left: -180px;
	text-align: left;
	border-left: 1px solid #8CACBB;
	
}

#col3 .content {
	padding-right: 6px;
	padding-top: 0;
	padding-left: 0;
	text-align: left;
}

#footer {
	padding-top: 10px;
	padding-bottom: 5px;
	background: #C7D0D9;
	margin: 0;
	border-top: 1px solid #8CACBB;
	border-bottom: 1px solid #8CACBB;
	text-align: center;
}

#footer a {

}

div#credits {font-size: .9em; text-align: center}

/* this is needed as a little workaround because MSIE tends to display the footer partly without the background specified */
.footerbgtrap {
	background-color: transparent;
	color: black;
}

/*** Error page ***/

div#tiki-main #tikimidtbl {
	margin: auto;
	width: auto;
}

	
/****** Menus ******/
/* phplayers style */
.horbar {
	margin-left: 0;
	text-align: left;
	color: #6D809F;
}

.horbar table {
	width: auto;
	float: left;
}

* html .horbaritem a {
	font-size: .8em;
}

a.phplm:link, a.phplm, a.phplm:hover, a.phplm:visited, .phplmnormal a, .phplmnormal a:hover, .phplmnormal a:visited {
	color: #000000;
	font-size: .9em;
	font-weight: normal;
}
a.phplm:hover, .phplmnormal a:hover {
	background-color: transparent;
	text-decoration: underline;
}
.mdkverbar  {
	margin: 0;
}
.mdksubmenu {
	z-index: 999;
	position: absolute;
	left: 0;
	top: 0;
	background: #FFFFFF;
	visibility: hidden;
}
.mdksubmenu table {
	width: auto;
}
.mdksubframe  {
	position: relative;
	display: block;
	border: 1px solid #000000;
}
.mdkitem {
	border-top: 1px solid #DEDEDE;
	position: relative;
	text-align: left;
	white-space: nowrap;
}
.mdkitem a,
.mdkitem a:visited {
	padding: 2px 5px;
	position: relative;
	display: block;
	text-decoration: none;
	font-size: 10px;
}

.mdkitem a:hover  {
	background: #E9ECEF;
}
.mdkitem a:active {
	color: #993300;
}
.mdkitem .mdkfwdarr {
	position: absolute;
	top: 5px;
	right: 12px;
}
div.separator, div.separatorline {
	background: #FFFFFF;
	color: black;
	padding: 2px;
	border-top: 1px dashed #8CACBB;
}

div.menuSection div.menuSection,
div.menuSection div.separator {
	padding-left: 5px;
}
.linkmenu, .rsslink,
.linkmenu:visited, .rsslink:visited {
	font-size: .95em;
	text-decoration: none;
	font-weight: normal;
}
.linkmenu:hover {
  color: #224466;
	background: #ddd;
	letter-spacing: 0;
}

.rsslist {
	background: #FFFFFF;
	margin: 0;
	margin-right: 10px;
	padding: 1px;
	list-style-position: inside;
}
.rssitem {
	font-weight: normal;
	padding: 1px 6px;
	border-top: 1px dashed #DADAC9;
}
.rssitem:first-child {
	border-top: 0;
}
.rssdate {
	color: #999999;
	font-style: italic;
	font-size: .95em;
}
.separator {
	font-size: .95em;
	text-decoration: none;
}
/****** Misc. Global Classes (layout and style) ****/
.hidden {position: absolute; left: -10000px; top: 0px; width: 1px; height: 1px; overflow: hidden;}
.floatlist {
	clear: left;
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

.floatlist li {
	float: left;
}
div#attzone, div#comzone {	display: none;	margin-top: 10px;}
div#attzoneopen, div#comzoneopen {display: block; margin-top: 10px;}
div#edithelpzone {display: none;}
#rules-copy-panel {display: none;}
.clear, #clear {clear: both;}
br.clear {clear: both; height: 0}
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */

#overdiv table {
	width: auto !important;
}

.attention {color: red;}
.highlight, #highlight  {}

/* Banners of type text */
.bannertext {
	font-size: .95em;
	color: #424242;
	text-decoration: none;
}
.bannertext:hover {
	color: black;
}
div.imagerank {
	margin: 10px 5px;
}

.link, .gallink, .bloglink, .fgallink, .trailer,
.opencomlink, .commentslink, .admlink,.forumbutlink {
	font-weight: normal;
	padding: 0;
}

div.searchdate {
	font-size: .95em;
	color: #333333;
}

div#debugconsole {
	position: absolute;
	background: #F3F6F9;
	top: 0;
	left: 20px;
	right: 310px;
	height: auto;
	z-index: 1;
	padding: 5px;
	border: 6px ridge #996600;
	font-size: 1.2em;
}

/* Pagination for listings */
.mini {
	width: 100%;
	text-align: center;
	font-size: .9em;
	color: Black;
}

.prevnext, .galprevnext, .blogprevnext, .fgalprevnext,
.artprevnext, .forumprevnext {
	font-size: 1em;
	padding: 1px 6px;
}

a.tikihelp, a.tikihelp:visited {}
a.tikihelp:hover {}

#rss img {}

/** Admin pages **/
/* overrides inline css */
div.adminanchors {background: #E9ECEF !important}

/** Modules **/
/* For extra module perimeter */
.box-shadow {}

div.box {
	background: white;
	overflow: hidden;
	margin: 3px;
	border: 1px solid #ACCCDD;
	width: 174px;
	text-align: left;
}

h3.box-title {
	background: #F3F6F9;
	border-bottom: 1px solid #ACCCDD;
	overflow: hidden;
	font-size: .95em;
	font-weight: normal;
	text-align: center;
	margin: 0;
	width: 100%;
	position: relative;
}

div.box-title table {
	width: 100%;
	padding: 0;
	margin: 0;
	border-spacing: 0;
}

div.box-title table td {
  text-align: center;
}

.box a.flipmodtitle img {
	display: none;
}

* html .box a.flipmodtitle img,
.box:hover a.flipmodtitle img {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	border: 1px solid transparent;
	height: 12px;
	width: 12px}

* html .box a.flipmodtitle img {border: none}

a.flipmodtitle:hover img {
	background: #DDDDDD;
	border-right: 1px solid #1D49BB !important;
	border-bottom: 1px solid #1D49BB !important;
	border-top: 1px solid #4C89BB !important;
	border-left: 1px solid #4C89BB !important;
}

div.box-data {
	color: black;
	padding: 5px;
	font-size: .95em;
	overflow: hidden;
}

.box-data ol {padding-left: 2em; margin-top: 0; margin-bottom: 0;}
.box-data ul {padding-left: 0; margin-top: 0; margin-bottom: 0; list-style:none;}
/* IE */
* html .box-data ol {margin-left: 0em;}
* html .box-data ul {margin-left: 0em;}
/* IE7 */
*:first-child+html .box-data ol {margin-left: 0em;}
*:first-child+html .box-data ul {margin-left: 0em;}


td.module {
	font-size: .95em;
	color: black;
	text-align: left;
}

.linkmodule, .linkmodule:visited {
	font-size: .95em;
	text-decoration: none;
}

div.cbox {
	background: white;
	margin-bottom: 6px;
	border: 1px solid #8CACBB;
	overflow: hidden;
	font-size: 1em;
}

div.cbox-title {
	color: black;
	border-bottom: 1px solid #8CACBB;
	overflow: hidden;
	text-align: center;
	padding: 0;
	margin: 0;
}

.cboxtlink {
	color: black;
	font-size: .95em;
	text-decoration: none;
}

div.cbox-data {
	overflow: hidden;
	padding: 0 5px;
	font-size: .95em;
	color: black;
	width: 100%;
}

div.simplebox {
	padding: 8px;
	color: black;
	border: 1px solid #8CACBB;
	background-color: white;
	font-size: inherit;
}

/** rbox: remarks box (note/warning/tip/comment) */
.rbox {
  margin-top: 10px;
}
.rbox-data {
  padding: 2px;
}
.rbox-title, .rbox-title[name="warning"] { 
  border: 0;
  border-radius-topright: 1ex;
  -moz-border-radius-topright: 1ex;
  -khtml-border-radius-topright: 1ex;
  font-size: .95em;
  padding: 0 10px;   
  position: relative;
  display: inline;
  margin: 0;
  font-weight: bold;
  background: #eeee99;
}

.rbox-data, 
.rbox-data[name="warning"] {
  background: #eeee99;
  border: 1px solid #DDDDCC;
}

.rbox-title[name="note"] {
  background: #CCCCDD;
}

.rbox-data[name="note"] {
  background: #ECECEF;
  border: 1px solid #CCCCDD;
}

.rbox-title[name="comment"],
.rbox-title[name="tip"], 
.rbox-title.tip {
  background: #CCCCDD;
}

.rbox-data[name="comment"],
.rbox-data[name="tip"],
.rbox-data.tip {            
  background: #ECEFEC;
  border: 1px solid #CCDDCC;
}

/***** Tables, Tabs and Lists ****/
/** Tables **/
table {
	font-size: inherit;
}

td {
	color: #000000;
	font-size: 1em;
	vertical-align: top;
	text-align: left;
}

* html td,
* html th { font-size: 11px }

th {
	color: black;
	background: #DEE7EC;
	border: 1px solid #8CACBB;
	padding: 0 2px;
}

/* Cells in forms using a background color */
.formcolor td,
.galform td,
.editblogform td,
.editfgalform td,
.comform td,
.forumform td {
	border: 1px solid #8CACBB;
	background: #DEE7EC;
}

/** Specific Tables **/

/* Tables (list reduced due to classes not found in files) */
table.normal, 
table.admin,
table.bloglist {
	padding: 0;
	margin: 0;
	border-collapse: collapse;
	width: 100%;
}

/* cells in tracker items display */
td.formlabel {
	white-space: nowrap;
}

td.formcontent {
}

table.email {
 border: 1px solid #8CACBB;
}
table.email td.body {
 border: 1px solid #8CACBB;
}

table.email td.heading {
 text-align: left;
 width: 15px;
}

table.email td.closeButton {
 text-align: right;
 width: 100%;
}

/* headings */
div.heading, td.heading {
	color: black;
	background: #DEE7EC;
	border: 1px solid #8CACBB;
	padding: 0 2px;
}

form.admin {
	padding: 3px
}

form.admin fieldset {
	border: solid 1px #8CACBB;
	margin: 0;
	margin-bottom: 3px;
}

form.admin legend.heading {
	background-color: transparent;
	border: none;
	line-height: 2em;
	padding-left: 0;
	padding-right: 0;
}

form.admin legend.heading a {
	background: #8CACBB;
	display: block;
	top: -1em;
	margin-top: 2px;
	padding: 1px 1px 0;
	position: relative;
	text-decoration: none;
}
form.admin legend.heading a:hover {
	background: #ACBB8C;
	padding: 1px 0px 0;
}
form.admin legend.heading a span {
	background: #fff;
	display: block;
	font-size: 1em;
	line-height: 2em;
	padding: 0 1em;
}
form.admin legend.heading a:hover span {
	line-height: 1.9em;
	margin-top: 0.1em;
	border-left: solid 1px #8CACBB;
	border-right: solid 1px #8CACBB;
}

div.heading {
	margin: 3px 2px;
}

.button {
	background: #DEE7EC;
	border: 1px solid #8CACBB;
	margin: 2px;
	padding: 0 2px;
	text-align: center;
	vertical-align: middle;
}

/* links to view an object from a table listing objects can be generalized to this link */
a.fgalname {
	text-decoration: none;
	font-weight: normal;
	color: #225566 !important;
}

a.fgalname:hover {
	text-decoration: underline;
}
 
a.tablename,
a.galname,
a.imagename,
a.blogname,
a.fgalname,
a.artname,
a.forumname {
	font-weight: bold;
	color: black;
}
a.forumnameread {
	letter-spacing: 1px;
	color: black;
}

/* links in table headings */
.tableheading,
.gallistheading,
.listgalheading,
.bloglistheading,
.llisfgalheading,
.llistfileslink,
.llistart,
.lforumheading {
}

table.findtable {
	margin-bottom: 1px;
	padding-bottom: 10px;
}
.findtable td { }

/* Odd rows in several listings */
tr.odd {
	border: 1px solid #8CACBB;
	color: black;
	background: #F7F9FA;
}
tr.odd:hover {
	background: #FFF7E6;
}
tr.even {
	border: 1px solid #8CACBB;
	background: #E7E9EA;
	color: black;
}
tr.even:hover {
	background: #FFF7E6;
}

td.odd {
	border: 1px solid #8CACBB;
	border-collapse: collapse;
	background: #F7F9FA;
	vertical-align: middle;
}
td.even {
	border: 1px solid #8CACBB;
	background: #E7E9EA;
	color: black;
	border-collapse: collapse;
	vertical-align: middle;
}

tr.even td.even,
tr.odd td.odd {
	background-color: transparent;
}

td.third {
	border: 1px solid #8CACBB;
	color: Black;
	background: #FFF;
	padding:  2px 1% 9px;
	font-size:  140%;
	text-align: center;
}

* html td.third { font-size: 13px }
/** Tabs **/
/* Style for tikitabs */
.tabs {
	border-bottom: solid 1px #225566 !important;
	margin-top: 10px !important; 
  padding: 0 !important;
}

.tabactive {
	border: solid 1px #225566 !important;
	border-bottom: none !important;
	border-top-width: 2px !important;
	position: relative;
	top: -2px;
}
[class].tabactive {
	top: -1px
}
.tabactive a {
	background: #eee;
}
.tabinactive {
	border: solid 1px #666 !important;
	border-bottom: none !important;
	position: relative !important;
	top: -3px !important;
}
[class].tabinactive {
	top: -2px !important;
}
.tabmark {
	display: inline;
	font-size: .95em;
	background: #DDDDDD;
	border: 1px solid #666666;
	margin: 0;
	margin-right: 5px;
	padding: 2px 0;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-khtml-border-radius: 5px 5px 0 0;
}
.tabmark a {
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-khtml-border-radius: 5px 5px 0 0;
	border-bottom: 0;
	color: #666666;
	font-weight: bold;
	padding: 1px 5px;
}
.tabmark a:active {
	background-color: white;
	color: red;
}
.tabmark a:hover {
	color: black;
	background: #CCCCCC;
}
.tabcontent {
	z-index: 200;
	border: 1px solid #225566 !important;
	border-top: none !important;
	padding: 6px 2px 2px 2px;
	background: #EEEEEE;
	border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	-khtml-border-radius: 0 0 3px 3px;
	text-align: center;
}
.tabcontent table {
	margin: 1% auto 2% auto;
	text-align: left;
	width: 95%;
}
.tabcontent table td {
	padding: 5px;
}

form fieldset.tabcontent {
	border: 1px solid #225566;
	border-top: none !important;
}
form.admin .tabs {
	border-bottom: solid 1px #225566 !important;
	margin: 10px 1px 0 0 !important;
	padding: 0 !important;
}
/*
div.content {
	padding: 3px;
}*/

div.content .tabs {
	margin: 0;
}

.tab-wrapper { 
   padding: 0; 
	border: 1px solid #eee; 
} 

.tab-menu { 
	list-style: none; 
	padding: 2px 0; 
	clear:  both; 
	line-height: 17px; 
	font-size: 1.1em; 
}

.tab-menu li { 
	width: 200px; 
	display: inline; 
	margin: 0 2px;
} 

.tab-menu li a 	{ 
	padding: 1px 5px; 
	background: #f5f5f5; 
	color:  #222; 
	font-weight: bold; 
	text-decoration: none; 
} 

.tab-menu li a:hover, 
.tab-menu li a:focus { 
	background: #FAEC8F; 
	border-bottom-color: #999; 
} 

.tab-menu li a:hover { 
	background: #FAEC8F; 
	border-bottom-color: #999; 
} 

.tab-menu li.tab-selected a { 
	background: #BCEC8F; 
}



/***** Feature-specific styles ****/

/***** Wiki ******/

div.titlebar {
	background: #C7D0D9;
	color: #000000;
	border: 1px solid #46596f;
	letter-spacing: 1px;
	padding: 0 6px 1px 6px;
	margin: 3px 0 6px 0;
	font-weight: bold;
}

div#page-bar {
	padding-bottom: 40px;
	display: block;
  border-top: 1px solid #8CACBB;
  padding-top: 5px;
}

div#page-bar table, div#page-bar td, div#page-bar tr {
	margin: 0;
	padding: 0;
}

#page-bar span {
	float: left;
}

.button2, .button3 {
	/*margin: 0;
	padding: 0;*/
}
.button3 {
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-khtml-border-radius: 5px 5px 0 0;
}
.button3 .linkbut {
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-khtml-border-radius: 5px 5px 0 0;
	padding-bottom: 2px;
	border-bottom: 0;
}
body .button2 {
	margin-left: 5px;
}

/* Links in buttons */
.linkbut, .linkbut:visited {
	font-size: .95em;
	color: #223344;
	background: #C7D0D9;
	padding: 0 4px;
	text-decoration: none;
	border: 1px solid #999;
	height: 16px;
	white-space: nowrap;
	cursor : pointer;
	line-height: 170%;
}

.linkbut:hover {
	background: #dca;
}

.tab1 form {
	display: inline;
}

div.cache {
	background: #DEE7EC;
	border: 1px solid #8CACBB;
	padding: 10px;
	margin: 4px;
}
div.cachedpage {
	border: 1px solid black;
	padding: 10px;
	margin: 20px;
}
.wikicache, .wikicache:visited {
	font-size: .95em;
	font-weight: normal;
	color: #998833;
	text-decoration: none;
}
.wikicache:hover {
	color: #000000;
	background-color: transparent;
}
table.wikitable {
	border-collapse: collapse;
}
td.wikicell {
	border-collapse: collapse;
	border: 1px solid #8CACBB;
	background: #F7F9FA;
}
div.wikitext {
	font-size: 1.2em;
	padding: 10px;
	clear: both;
	width: auto;
}

body.wikitext {
	font-size: 1.2em;
	margin: 10px !important;
	background: #F3F6F9;
}

body.wikitext a {
	color: #225566 !important;
	font-weight: bold;
}

body.wikitext a:hover {
	color: #224466 !important;
	background: #FFFFF1;
}

div.wikitext div.img {
        overflow: auto;       /* for Netscape, Firefox, Opera */  
        overflow-y: auto;     /* for IE */
        overflow-x: hidden;   /* for IE */
}

.wikitext div.box {
	width: auto;
}

.wikitopline table {
	width: 100% ;
	_width: 97% ;
}
html>body .wikitopline table {
	width: 100%;
}

#description {
	margin: 0 10px;
	font-size: 1.1em;
	color: #666;
}

* html .wikitopline table {
	font-size: 1.2em;
}

.wiki {
}

.wikinew {
	color: #CC0000;
}

textarea.wikiedit {
	font-size: 1.1em;
}

p.editdate {
	color: #223344;
	border-top: 1px solid #8CACBB;
	font-size: 1em;
	padding: 0 10px;
}

div.wiki-edithelp {
	background: white;
	border: 1px solid black;
	padding: 10px;
}

img.externallink {
	margin: 0 2px;
}

div.tocnav {
	font-size: .95em;
	border-top: 1px solid #8CACBB;
	border-bottom: 1px solid #8CACBB;
	color: black;
	padding: 2px 0;
	margin-bottom: 2px;
}

.tocnavlink {
	color: black;
}

/* toc */

.toc {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

.toc li {
	background-image: url(../img/icons2/corner-dots.gif);
	background-repeat: no-repeat;
	margin-top: 3px;
	padding-left: 16px;
}

.tocnav {
	background: #EEEEEE;
	margin-bottom: 16px;
}

.tocnav table {
	width: 100%;
	background: #FFFFFF;
}

.tocnav a {
	font-size: .95em;
	color: #424242;
}

.fancytoclevel {
        list-style-image: url(../img/icons/footprint.gif);
}

li.toclevel {
	margin-left: 2em;
}

/* Code Plugin */
div.code {
	font-size: .95em;
	padding: 3px;
	border: 1px dashed #CCCCCC;
	background: #F4F4F4;
	font-family: monospace;
}

.codelisting {
	font-family: monospace;
	padding: 10px;
	background: #FFFFFF;
	margin: 0;
	border: 1px solid #ADACAF;
	overflow: auto;       /* for Netscape, Firefox, Opera */
	overflow-y: auto;     /* for IE */
	overflow-x: hidden;   /* for IE */
}

.codecaption {
	font-size: .95em;
	padding: 0 10px;
	background: #FFFFFF;
	position: relative;
	bottom: -5px;
	display: inline;
	border: 1px solid #ADACAF;
	border-bottom: 0;
	margin: 0;
	color: #666666;
	background: #E9ECEF;
	font-weight: bold;
	border-radius-topright: 1ex;
	-moz-border-radius-topright: 1ex;
	-khtml-border-radius-topright: 1ex;
}

/* Version Plugin */
.versions {
	border-top: 1px dashed #999999;
	border-bottom: 1px dashed #999999;
	min-height: 142px;
}

.versionav,
.versionav:after {
	display: inline;
	float: right;
	border-left: 1px dashed #999999;
}

.versionav .button2 {
	display: block;
	border: 0;
	border-bottom: 1px dashed #999999;
	background-color: transparent;
}

.versionav .button2 .linkbut {
	border: 0;
	background-color: inherit;
	padding: 0 10px;
}

.versionav .highlight {
	background: #CCCCCC;
	font-weight: bold;
}

.versiontitle,
.versiontitle:after {
	font-weight: bold;
	border-bottom: 1px dashed #999999;
	border-left: 1px dashed #999999;
	padding: 2px 30px;
	float: right;
}

/* Quote plugin */
.quoteheader {
	margin: 10px 5px 0 5px;
	padding: 4px;
	border: 1px solid #A9B8C2;
	border-bottom: 0;
	color: black;
	font-weight: bold;
	background: #A9B8C2;
	font-size: 1em;
}

.quotebody {
	margin: 0 5px 10px 5px;
	padding: 5px;
	border: 1px solid #A9B8C2;
	border-top: 0;
	color: black;
	background: #edeeef;
}

div.split {
	border: 1px dashed #A9B8C2;
	clear: both;
}

/* wiki diff styles */
.diff td {
	border: 1px solid #A9B8C2;
}

.diff div {
	border-top: 1px solid #A9B8C2;
}
.diffheader {
	background: #A9B8C2;
	font-weight: bold;
}
.diffadded {
	background: #CCFFCC;
}
.diffdeleted {
	background: #FFCCCC;
}
.diffinldel {
	background: #FFCCCC;
	text-decoration : line-through;
}
.diffbody {
	background: #F2F4F5;
}
.diffchar {
	color: red;
}

/***** Articles ****/

.freetaglist {
	padding-left: 20px;
}

div.article {
	font-size: 1.1em;
}

.wikitext .article {
	font-size: 1em;
}

div.articletitle {
	border-top: 1px solid #46596f;
	clear: both;
}
span.titlea {
	background: #C7D0D9;
	border: 1px solid #8CACBB;
	border-left: 0;
	border-top: 0;
	padding: 0px 20px;
	margin: 3px 0 6px 0;
	font-size: 1.2em;
	font-weight: bold;
	border-radius-bottomright: 20px;
	-moz-border-radius-bottomright: 20px;
	-khtml-border-radius-bottomright: 20px;
}
span.titleb,
span.titleb:after {
	color: #666666;
	margin: 5px 20px;
}
div.articleheading {
	margin: 5px 20px 5px 20px;
	clear: both;
}

div.articleheadingtext {
	display: inline;
}

div.articletrailer {
	border-top: 1px solid #C7D0D9;
	margin-bottom: 10px;
	margin-right: 20px;
	margin-left: 20px;
	text-align: right;
	clear: both;
}

span.trailer {
}

.articleimage {
	margin-right: 20px;
}

div.articlebody {
	padding: 20px;
	clear: both;
	font-size: 1em;
}

.articletopline {
	text-transform: uppercase;
	color: #666666;
	font-size: 80%;
	font-weight: bold;
	margin: 0 20px;
}
.articlesubtitle {
	color: #666666;
	margin: 0 20px;
}

.articlesource {
	padding: 0 20px;
	margin-bottom: 10px;
	font-style: italic;
}

/***** Blogs *****/

div.blogtitle {
	color: black;
	font-weight: bold;
	font-size: 200%;
	margin: 0 10px;
}

div.bloginfo {
	font-size: .95em;
	color: #424242;
	margin: 10px;
}

div.blogdesc {
	clear: both;
	margin: 0 10px;
}

div.blogtools {
	background: #C7D0D9;
	border-top: 1px solid #8CACBB;
	border-bottom: 1px solid #8CACBB;
	font-size: .95em;
	margin: 10px 0;
	padding: 0 10px;
}

div.posthead {
	color: black;
	padding: 0 10px;
}

div.posthead td[align=right] {
	vertical-align: bottom;
	margin: 0 10px;
}

span.posthead {
	font-weight: bold;
}

span.posthead small {
	font-size: .95em;
	color: #666666;
	font-weight: normal;
}

.blogt {  }

.blogpost .postbody {
	border-top: 1px solid #AEAEAE;
	border-bottom: 1px solid #AEAEAE;
	font-size: .95em;
	color: black;
	padding: 10px}

/***** Forums *****/

div.forumspagetitle {

}

table.threads {
	width: 100%;
}

td.viewthreadl {
	border: 1px solid #8CACBB;
	border-collapse: collapse;
	background: #EEEEEE;
	height: 10px;
}

td.viewthreadr {
	border: 1px solid #8CACBB;
	border-collapse: collapse;
	background: #EEEEEE;
	height: 10px;
}

td.threadsevenl {
	border: 1px solid #8CACBB;
	border-collapse: collapse;
	background: #EEEEEE;
}

td.threadsevenr {
	border: 1px solid #8CACBB;
	border-collapse: collapse;
	background: #EEEEEE;
}

td.threadsoddl {
	border: 1px solid #8CACBB;
	border-collapse: collapse;
	background: #DDDDDD;
}

td.threadsoddr {
	border: 1px solid #8CACBB;
	border-collapse: collapse;
	background: #DDDDDD;
}

td.threadseparator {
	border: 1px solid #8CACBB;
	border-collapse: collapse;
	background: #EEEEEE;
	height: 5px;
}

#forumpost {
	display: none;
}

#forumpostopen {
	display: block;
}

div.forumtoolbar {
	background: #395AAD;
	margin-bottom: 20px;
	border: 0;
}

td.forumtoolbar {
	color: white;
	font-weight: bold;
	text-decoration: none;
	vertical-align: bottom;
}

.toolbarlink, .toolbarlink:active {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

.toolbarlink:hover {
	color: #00FFFF;
}

.forumvotelink {
	color: black;
}
/* forums new */

.post .postbody {
	clear: both;
	border: solid 1px #E7EAED;
	border-top: solid 1px gray;
	margin: 0;
	margin-top: 5px;
	padding: 0;
	background-color: #F9FCFF
}

* html .post .postbody {font-size: 11px}
*:first-child+html .post .postbody {min-width: 100% !important}

.postbody-title {
	display: block;
	clear: both;
	background-color: #E0EAF4; 
	border-top: 1px solid #8CACBB;
	border-bottom: 1px solid #8CACBB;
	padding-bottom: 4px;
}

.post .postbody-title .checkbox { float: left; }
.post .postbody-title .title {
	/*float: left;*/
	color: #29677B;
	font-weight: bold;
	font-size: 1em;
	margin-left: 5px;
	margin-top: 3px;
}
#col1 .post .postbody .content {
	color: #000000;
	background: #E7E9EA !important;
	height: 100%;
	padding: 0;
	text-align: left;
	width: 100% !important}

.post .author {	
	float: left;
	text-align: left;
	vertical-align: top;
	width: 25%;
	height: 100%;
	background:#F7F9FA;
	border-right: 1px solid #8CACBB;
	border-bottom: 1px solid #8CACBB;
}
.post .author_post_info {
	display: block;
	padding: 0 2px 2px 2px;
}
.post .author_info .icons { display: block; }
.post .author_info .icons .actions { margin-right: 10px; }

.post .author_post_info_on { font-style: italic; }
.post .author_info {
	display: block;
	/*background-color: #F0F8FF;*/
	padding: 0 2px 2px 2px;
	margin-left: 5px;
	/*border-left: 1px solid #D7E5F3;
	border-bottom: 1px solid #D7E5F3;*/
}
.commentStyle_headers .author_info { float: left; }
.post .postbody-title .actions {
	float: right;
	font-size: 1em;
}

.postbody-content {
	float: right;
	width: 73%;
	min-height: 4em;
	margin: 2px;
}
	
*:first-child+html .postbody-content {min-width: 73%}

/*.postbody .content .quoteheader {}
.postbody .content .quotebody {display: block}*/
.post .postbody .attachments {
	clear: both;
	border-top: 1px dotted #D9D9D9;
	margin-top: 5px; 
}
.post .postbody .attachments img { vertical-align: text-bottom; }
.post .postfooter .actions, .post .postfooter .status {
	display:inline;
	margin-left: 5px;
	vertical-align: top;
}
.post .postfooter .status { font-size: 10px; }
.post .postfooter {
	float: right;
	text-align: right;
}
.post .inner > .postfooter { clear: both; }
.post .contribution {
	background-color: #F0F8FF;
	border: 1px solid #D7E5F3;
	padding: 0 2px 0 2px;
}
.post .avatar {
	margin-bottom: 5px;
	margin-left: 4px;
	padding: 3px}

.sub_comment { padding-left: 20px; }
.sub_comment_area {
	clear: both;
	background: url("../../img/edge.gif") no-repeat top left; 
}

.forum_actions .actions {
	clear: both;
	border: 1px solid #999999;
	background-color: #E1EBF5;
	padding: 3px 3px 3px 3px;
	vertical-align: middle;
}
.forum_actions .actions .action { 
	margin-right: 10px;
}
.forum_actions .headers { vertical-align: bottom; }
.forum_actions .headers .title {
	float: left;
	background-color: #C7D0D9;
	border: 1px solid #999999;
	border-bottom: 0;
	padding: 1px;
}
.forum_actions .headers .infos {
	float: right;
	/*font-size: smaller;*/
	padding-top: 2px;
}
.thread_pagination {
	text-align: center;
	margin-bottom: 10px;
}
.nb_replies { white-space: nowrap; }
.post_preview, .top_post { margin-bottom: 15px; }
/*.post .postbody .signature { float: left; }*/

/* comments */

#comzone {
	display: none;
	margin: 5px 0;
	padding: 0;
}

#comzoneopen {
	display: block;
	margin: 5px 0;
	padding: 0;
}

span.commentstitle {
	font-weight: bold;
	font-size: 1.2em;
}

.subcomment {
	margin-left: 10px;
}

/* Help box*/

div.commentsedithelp {
	background: #ffcfcf;
	color: black;
	border: 1px solid #ff0000;
	text-align: center;
	font-weight: bold;
}

textarea#editpost2 {font-size: 1.1em}

/***** Categories *****/

table.tcategpath {
	margin-bottom: 40px;
	border: 1px solid #8CACBB;
	width: 100%;
	border-collapse: collapse;
}

td.tdcategpath {
	color: #578308;
	font-weight: bold;
	background: #CDE2A7;
	padding: 0 3px;
	margin: 0;
	border-spacing: 0;
}

.categpath {
}

table.subcats {
	padding: 20px 0;
	width: 100%;
	border-spacing: 0;
	margin-bottom: 10px;
	border: 1px solid #46596f;
	background: #CDE2A7;
	border-collapse: collapse;
}

td.tdsubcat {
	width: 25%;
	background: #8CACBB;
}

.categlink {
}

table.catobjects {
	width: 100%;
	border-spacing: 0;
	padding-right: 0;
	margin-bottom: 10px;
	border: 1px solid #46596f;
	border-collapse: collapse;
}

td.categobjectsnameeven,
td.categobjectsnameodd {
	color: black;
}

td.categobjectsdataeven,
td.categobjectsdataodd {
	background: #F7F9FA;
	color: black;
}

.catname {
	color: #46596f;
}

.catblock {
	border: 1px solid #AAAAAA;
}

.catlists {
	border-top: 1px solid #FFFFFF;
	padding: 1px 6px 1px 6px;
	background-color: transparent;
	color: #666666;
}

.catlists:last-child {
	border-bottom: 1px solid #FFFFFF;
}

.catlists:hover {
	background: #DEDEDE;
}

.cattitle {
	color: #000000;
	font-weight: bold;
}

.catlists a.link {
	color: #666666;
	padding: 0 4px;
	border: 1px solid #AAAAAA;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
}

.catlists a.link:hover {
	color: #000000;
}

ul.catfeatures {}
ul.catfeatures li {}
ul.catitems {}

ul.catitems li {
	float: left !important;
	padding-right: 18px;
}

ul.catitems li a.link {}

/***** Tags (freetags) *****/
li.freetag {
	list-style: none;
	display: inline;
	margin: 0;
	padding: 0;
}
ul.freetag {
	margin: 0;
	padding: 0;
	display: inline;
}

.freetag a {display:inline}
a.freetag_1 { text-decoration: none; font-size: .8em; }
a.freetag_2 { text-decoration: none; font-size: .9em; }
a.freetag_3 { text-decoration: none; font-size: 1em; }
a.freetag_4 { text-decoration: none; font-size: 1.2em; }
a.freetag_5 { text-decoration: none; font-size: 1.4em; }
a.freetag_6 { text-decoration: none; font-size: 1.6em; }
a.freetag_7 { text-decoration: none; font-size: 1.8em; }

div.freetagObjectOdd {
	margin: 2px;
	background: #F7F9FA;
	position: relative;
}

div.freetagObjectEven {
	margin: 2px;
	background: #E7E9EA;
	position: relative;
}

div.freetagObjectName a {
	text-decoration: none;
}

div.freetagObjectType {
	position: absolute;
	top: 0;
	right: 0;
}

/***** Image Galleries *****/

table.galtable {
	border-collapse: collapse;
	border: 1px solid #8CACBB;
	width: 100%;
	voice-family: "\"}\"";
	voice-family: inherit;
	width: 97%;
}

html>body .galtable {
	width: 100%;
}

td.oddthumb {
	background: #E7E9EA;
	border: 1px solid #8CACBB;
	border-collapse: collapse;
	text-align: center;
}

td.eventhumb {
	background: #F7F9FA;
	border: 1px solid #8CACBB;
	border-collapse: collapse;
	text-align: center;
}

div.thumbnails {
	border: 1px solid white;
	margin: 10px;
}

img.athumb {
	border: 1px solid white;
}

.caption {
	color: black;
}

p.norecords {
	font-weight: bold;
}

div.imagetitle {
	font-weight: bold;
	font-size: 200%;
}

div.gallerylink {
}

div.showimage {
	text-align: center;
	margin: 5px 0;
}

div.imgaldescr {
	margin: 10px;
}

.sorttitle {
	margin-left: 10px;
}

/***** File Galleries *****/

div.thumbnailcontener {
	margin: 4px;
}
div.thumbnail {
	padding: 0;
	background-color: white;
	border-bottom: 1px solid #AAAAAA;
	border-right: 1px solid #AAAAAA;
	border-top: 1px solid #C7D0D9;
	border-left: 1px solid #C7D0D9;
	text-align: center;
}
div.thumbnamecontener, div.thumbimagecontener {
	display: table;
	#position: relative;
	overflow: hidden;
}
div.thumbnamecontener {
	background-color: #F3F6F9;
	border-top: 1px dotted #C7D0D9;
	border-bottom: 1px dotted #C7D0D9;
	margin-bottom: 3px;
	height: 2.5em;
}
div.thumbname, div.thumbimage {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	/* for IE including IE7 */
	#position: absolute;
	#left: 0;
	#top: 50%;
}
div.thumbnamesub, div.thumbimagesub {
	/* for IE including IE7 */
	#position: relative;
	#top: -50%;
}
div.thumbnail:hover {
	background-color: #F3F6F9;
}
div.thumbnail:hover div.thumbnamecontener {
	border-color: #6996C3;
	background-color: #C7D0D9;
}
div.thumbimage img {
	border: none;
	display: block;
	margin: auto;
}
div.thumbinfos {
	padding-bottom: 15px; /* 10 px */
}
div.thumbinfo {
	font-size: 9px;
	font-weight: bold;
	color: #76818E;
}
span.thumbinfoval {
	color: #9EAAB4;
}
div.thumbname {
	width: 100%;
}
div.thumbactions {
	width: 100%;
	margin-top: -20px; /* -25px */
}
div.thumbactions * {
	vertical-align: middle;
}
div.thumbactions input {
	float: left;
}
div.thumbactions a {
	float: right;
}
div.thumbdescription {
	margin-bottom: 2px;
}
div.thumbdescription + div.thumbinfo {
	border-top: 1px dotted #C7D0D9;
}
div.thumbdescription span.thumbinfoname {
	display: none;
}
a.namealias {
	font-style: italic;
}

div.gallerypath, div.gallerypath a {
	color: #6996C3;
	font-style: italic;
	font-weight: normal;
	margin-left: 3px;
	text-decoration: none;
}

div.gallerypath a:hover {
	color: black;
	text-decoration: underline;
}

.fgalexplorer { border: 1px solid #8CACBB; }
.fgallisting table td { padding-left: 2px; padding-right: 2px; }


/***** Calendar *****/

.day, .day:visited {
	font-weight: normal;
	font-size: .95em;
	color: black;
}

.today {
	font-size: .95em;
	color: black;
}

.nav {
	font-size: .95em;
	color: black;
}

.changedate {
	font-size: 9px;
	color: black;
}

.date {
	font-size: .95em;
	color: black;
	font-weight: bold;
}

/*****  Polls  *****/

div.pollresults {
	margin-top: 5px;
	font-size: 1.2em;
	padding: 0 5px;
}

table.pollresults {
	width: 100%;
}

td.pollr {
	color: black;
}

#pollopen {
	display: block;
}

#pollzone {
	display: none;
}

#polledit {
	display: none;
}

.pollnav {
}

/** FAQs **/

div.faqlistquestions {
	background: #FFFFFF;
	color: black;
	border: 1px solid #8CACBB;
	margin-bottom: 20px;
}

div.faqqa {
	background: #FFFFFF;
	color: black;
	border: 1px solid #8CACBB;
	margin-bottom: 20px;
}

div.faqquestion {
	font-weight: bold;
	padding: 2px 12px;
	padding-bottom: 0;
	background: #DEE7EC;
}

div.faqanswer {
	padding: 4px 12px;
	padding-top: 0;
}

/** Quizzes **/

div.questionblock {
	border: 1px solid #8CACBB;
	background-color: white;
	padding: 4px;
	margin-bottom: 10px;
}

div.quizquestion {
	margin-bottom: 5px;
}

div.quizoptions {
}

div.quizdescription {
	border: 1px solid #8CACBB;
	background-color: white;
	margin-bottom: 10px;
}

div.quizanswer {
	border: 1px solid #8CACBB;
	background-color: white;
	margin-bottom: 10px;
}

/** Shoutbox **/

div.shoutboxmsg {
	border: 1px solid #8CACBB;
	border-bottom: 0;
	background-color: white;
	margin-bottom: 0;
	padding: 4px;
	padding-bottom: 1px;
}

div.shoutboxmsg:last-child {
	border-bottom: 1px solid #8CACBB;
}

div.shoutboxmodmsg {
	font-size: .95em;
	margin: 0 5px 4px 5px;
	padding-top: 5px;
	padding-bottom: 1px;
}

textarea.tshoutbox{
	background-color: white;
	border: 1px solid #8CACBB;
	color: #000000;
	font-size: .95em;
	width: 162px;
}

.wiki-table {
	border: 1px solid #8CACBB;
}

.wiki-tr-a td {
	background: #DDDDDD;
	border: 0;
}

.wiki-tr-b td {
	background: #EEEEEE;
	border: 0;
}

/** Directory **/

div.dircategs {
	border: 1px solid #8CACBB;
	padding: 5px;
}

.dirlink {
	color: black;
}

.dirsublink {
	font-size: .95em;
	color: black;
}

div.dirlistsites {
	background-color: white;
	padding: 5px 0 10px 5px;
	border: 1px solid #8CACBB;
	margin-top: 10px;
}

div.dirsite {
	background: #F7F9FA;
	margin: 5px;
}

span.dirsitedesc {
}

span.dirsitetrail {
	font-size: .95em;
}

span.dirsitecats {
}

.dirsitelink {
	color: black;
}

div.dirrelated {
	background-color: White;
	margin-top: 10px;
	border: 1px solid #8CACBB;
	padding: 5px;
}

td.dirfooter {
	font-size: .95em;
}

div.dirfooter {
	margin-top: 10px;
	border: 1px solid #8CACBB;
}

/** Messages **/

td.prio1, td.prio2, td.prio3, td.prio4, td.prio5 {
	border: 1px solid #8CACBB;
	padding-left: 2px;
}

td.prio1 {
	background: #F7F9CA;
}

td.prio2 {
	background: #F7F9EA;
}

td.prio3 {
	background: #F7F9FA;
}

td.prio4 {
	background: #F7F9FD;
}

td.prio5 {
	background: #F7F9FF;
}

div.messureadflag {
	background: #CCCCCC;
	padding-left: 5px;
}

div.messureadhead {
	background: #DEDEDE;
	margin-top: 2px;
}

div.messureadbody {
	margin-top: 5px;
	background: #DEDEDE;
}

.readlink {
	font-size: .95em;
	color: black;
}

/** Trackers  **/

.statuson {
	padding: 1px;
	margin: 1px;
	border: 1px inset #666666;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-khtml-border-radius: 20px;
	vertical-align: middle;
	background: #BBAA99;
}

.statusoff {
	padding: 1px;
	margin: 2px;
	vertical-align: middle;
}

/** User Menu **/

.option {
}

.optionline {
	border-top: 1px dashed #8CACBB;
	margin-top: 2px;
	padding-top: 2px;
}

/** Other misc. styles **/

div.tree {
	text-align: left;
	padding-left: 1.5em;
}

div.tree#top {
	border: 1px outset #46596f;
	padding: 10px;
}

/* TikiIntegrator: By default copy rules dialog not shown */

div#rules-copy-panel {
	display: none;
}

/* JsCalendar wrapper */

#datrigger {
	border: 1px outset #666666;
	padding: 1px 3px 1px 5px;
	margin: 2px;
	cursor: pointer;
	font-weight: bold;
}

.calendar {
	z-index: 200;
}

table.commentinfo {
	width: 100%;
	background: #FFF7E6;
}

div#loadstats {
	color: #666666;
	padding: 5px;
}

/***** Ajax *****/

div#ajaxLoading {
	display: none;
	position: absolute;
	top: 50px;
	right: 50%;
	padding: 3px;
	font-family: Verdana;
	font-size: 90%;
	text-align: center;
	background: transparent url(../lib/shadowbox/images/loading-light.gif) no-repeat 50% 100%;
	height: 43px;
	width: 50px}

#shadowbox_title {
	height: auto !important;
	padding: 0;
	overflow: visible;}

#shadowbox_title_inner{
	height: auto !important;
	font-size: 1em !important;
	line-height: 1em !important;
	white-space: normal !important;
	padding:5px 0 4px 8px}


/* TikiSheet Default Style {{{1 */
table.default thead td, 
table.default tfoot td {
	font-weight: bold;
	text-align:	center;
	background: #E5EEF6;
}

table.default td {
	border: solid 1px #8CACBB;
	background: #FFFFFF;
}

/*** style for 'advanced feature' divs ***/

.advanced {
  margin: 20px;
  padding: 5px;
  border-color: #A9B8C2;
  border-width: 1px;
  border-style: solid;
  background: #dee7ec;
}

.advanced:before { content:url(../img/icons/mini_blue_diamond.gif)" "; }

.tellafriend {
	font-size: 80%;
	text-align:right;
	margin-right: 1em;
}
.tellafriend a {
	text-decoration: none;
	color: #A9B8C2;
}

.tellafriend a:hover {
	color: #225566;
}

.fullscreen .tellafriend {
	margin-right: 100px;
	margin-top: 2px;
}

.highlight_word_0 { color:black;background: #ffff66; }
.highlight_word_1 { color:black;background: #ff9999; }
.highlight_word_2 { color:black;background: #A0FFFF; }
.highlight_word_3 { color:black;background: #ff66ff; }
.highlight_word_4 { color:black;background: #99ff99; }

.center { text-align: center; }
.justify { text-align: justify; }
.right { text-align: right; }

/**** mypage ****/

.mypage_configure th {
	width: 180px;
}

#sideBarTab {
	background: url('../img/cord.png') no-repeat;
}

#sideBarContents {
	background: #fff;
}

.icon {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	-moz-opacity: 0.8;
	border: 1px solid transparent;
	_border-color: white; /* for IE6 */
	_filter: chroma(color=white); /* for IE6 */
	padding: 1px;
	margin: 0;
}

.upspan:hover .icon, a:hover .icon/*, span:hover .icon*/ {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-moz-opacity: 1;
	background: #DDDDDD;
	border-right: 1px solid #1D49BB;
	border-bottom: 1px solid #1D49BB;
	border-top: 1px solid #4C89BB;
	border-left: 1px solid #4C89BB;
	color: black;
}

.iconmenu * {
	vertical-align: middle;
}
.upspan:hover .iconmenu, a:hover .iconmenu {
	background: #DDDDDD;
}

/* OpenID  */
.openid_url {
background-image: url(../../img/icons/login-OpenID-bg.gif);
background-repeat: no-repeat;
background-attachment: scroll;
background-color: #ffffff;
padding-left: 18px;
}

/* Style for navbar buttons 
 *  This class has to be added in the main style sheet */
#highlight  {
	background-color : #eeee99 !important;
}

/* Style for OverBox */
.opaque {
  background-color: #FFFFFF;
  width : auto;
  border : 1px solid #666666;
  border-radius : 10px;
  -moz-border-radius : 10px;
  -khtml-border-radius : 10px;
  padding : 5px;
}
.opaque .box-title,
.opaque .box-data {
  width: auto;
}

/***** End of file ******/
